= content_for :title, 'Symbit - Home of YAY!'
%div.container-fluid.symbit-dashboard

  = render partial: 'shared/header', locals: {page_title: 'Symbit'}

  %div.container-fluid
    %p= link_to 'Code Syntax Highlighter', 'highlighter'
    %p= link_to 'Yodatepicker Datepicker / Calendar', 'yodatepicker'
    %p= link_to 'YayPlus1 Ratings', 'yayplus1'
    %p= link_to 'Kwizzy Quizzes', 'quizzes'

  - github_link = 'https://github.com/captainmarkos/symbit'
  = render partial: 'shared/footer', locals: {github_link: github_link}
