= javascript_include_tag 'yodatepicker/dist/yodatepicker.js'
- # To load the file assets/javascripts/yodatepicker/dist/yodatepicker.js

:javascript

  $(document).ready(function() {

    var activity_calendar_en = yodatepicker({
        dp_id_name: 'dp_activity_calendar_en',
        id_name: 'activity_datepicker_en',
        months_to_display: 1,
        use_date_range: false,
        dow_heading: 'short_name',
        close_onselect: false,
        min_date: new Date(),
        max_date: '1Y',
        locale: 'en',

        // navigation arrow icons and colors
        prev_fa_class: 'fas fa-chevron-circle-left',
        next_fa_class: 'fas fa-chevron-circle-right'
    });

    var activity_calendar_es = yodatepicker({
        dp_id_name: 'dp_activity_calendar_es',
        id_name: 'activity_datepicker_es',
        months_to_display: 1,
        use_date_range: false,
        dow_heading: 'full_name',
        close_onselect: false,
        min_date: new Date(),
        max_date: '1Y',
        locale: 'es',

        // navigation arrow icons and colors
        prev_fa_class: 'fas fa-chevron-circle-left',
        next_fa_class: 'fas fa-chevron-circle-right'
    });

    var activity_calendar_fr = yodatepicker({
        dp_id_name: 'dp_activity_calendar_fr',
        id_name: 'activity_datepicker_fr',
        months_to_display: 1,
        use_date_range: false,
        dow_heading: 'short_name',
        close_onselect: false,
        min_date: new Date(),
        max_date: '1Y',
        locale: 'fr',

        // navigation arrow icons and colors
        prev_fa_class: 'fas fa-chevron-circle-left',
        next_fa_class: 'fas fa-chevron-circle-right'
    });

    activity_calendar_en.show();
    activity_calendar_es.show();
    activity_calendar_fr.show();

  });

= content_for :title, 'Yodatepicker - Javascript Datepicker / Calendar'

%div.container-fluid.symbit-yodatepicker
  - page_title = 'Yodatepicker'
  - subtitle = 'Pure Javascrpt Datepicker / Calendar'
  = render partial: 'shared/header', locals: {page_title: page_title, subtitle: subtitle}

  %div.container-fluid
    %div.calendar-container
      %div#dp_activity_calendar_en
      %br/
      %div
        Select a Date:
        = text_field_tag 'activity_datepicker_en'

    %div.calendar-container
      %div#dp_activity_calendar_es
      %br/
      %div
        Select a Date:
        = text_field_tag 'activity_datepicker_es'

    %div.calendar-container
      %div#dp_activity_calendar_fr
      %br/
      %div
        Select a Date:
        = text_field_tag 'activity_datepicker_fr'

  - github_link = 'https://github.com/captainmarkos/yodatepicker'
  = render partial: 'shared/footer', locals: {github_link: github_link}
