
%div.container-fluid
  %div.row.row-content
    = form_with(scope: :qna, model: @qna, class: 'form-inline') do |f|

      %div.form-group.row.mt-4
        %div.col-lg-4.col-md-6.col-sm-12
          %label.sr-only{ for: 'question'}= 'Question'
          = f.text_area :question, { class: 'form-control', 'placeholder' => 'Question' }

        %div.col-lg-4.col-md-6.col-sm-12
          %label{ for: 'images'}
          - if @qna.present? && @qna.images.attached?
            = image_tag @qna.images.first, style: 'max-width: 120px; max-height: 80px;'
          - else
            = image_tag '/assets/octobiwan.png', style: 'max-width: 120px; max-height: 80px;'
          = f.file_field :images, accept: 'image/png,image/gif,image/jpeg,image/jpg'

      %div.form-group.row.mt-4
        %div.col-lg-4.col-md-6.col-sm-12
          %label.sr-only{ for: 'answer_1'}= 'Answer 1'
          = f.text_area :answer_1, { class: 'form-control', 'placeholder' => 'Answer 1' }

      %div.form-group.row.mt-4
        %div.col-lg-4.col-md-6.col-sm-12
          %label.sr-only{ for: 'answer_2'}= 'Answer 2'
          = f.text_area :answer_2, { class: 'form-control', 'placeholder' => 'Answer 2' }

      %div.form-group.row.mt-4
        %div.col-lg-4.col-md-6.col-sm-12
          %label.sr-only{ for: 'answer_3'}= 'Answer 3'
          = f.text_area :answer_3, { class: 'form-control', 'placeholder' => 'Answer 3' }

      %div.form-group.row.mt-4
        %div.col-lg-4.col-md-6.col-sm-12
          %label.sr-only{ for: 'answer_4'}= 'Answer 4'
          = f.text_area :answer_4, { class: 'form-control', 'placeholder' => 'Answer 4' }

      %div.form-group.row.mt-4
        %div.col-lg-4.col-md-6.col-sm-12
          %label.sr-only{ for: 'answer_5'}= 'Answer 5'
          = f.text_area :answer_5, { class: 'form-control', 'placeholder' => 'Answer 5' }

      %div.form-group.row.mt-4
        %div.col-lg-4.col-md-6.col-sm-12
          %label.sr-only{ for: 'tags'}= 'Tags'
          = f.collection_select(:tag_ids, Tag.all, :id, :name, {}, { multiple: true, class: 'form-control' })
          = f.hidden_field(:target_type, value: 'Qna')
          = f.hidden_field(:correct_answer, value: 'answer_1')

      %div.form-group.row.mt-4
        %div.col-sm-3
          = f.button 'Save', { class: 'btn btn-primary btn-sm' }
          = f.button 'Reset', { name: 'reset', type: 'reset', class: 'btn btn-primary btn-sm' }
