:javascript
  function rouge_request() {
    var select_list = document.getElementById('language');
    var lang = language.options[language.selectedIndex].value;

    var raw_code = $('#code_to_highlight').val();
    var rouge_url = "#{rouge_highlighter_index_path}";

    $.ajax({
      method: 'POST',
      url: rouge_url,
      data: { text: raw_code, language: lang }
    })
    .done(function(response) {
      console.log('--> response: ', response);
      $('#pretty_code').html(response.highlighted_text);
    })
    .fail(function() {
      alert('$.ajax() failed\nurl: ' + rouge_url);
    });
  }

%div.container-fluid.symbit-highlighter
  %h2 Code Highlighter
  %hr/

  %table.table
    %tr
      %td{ colspan: 2 }
        = 'Select a language:'
        = select_tag :language, options_for_language(params[:language])
        = button_tag "Make it Pretty", onclick: 'rouge_request();'
    %tr
      %td
        = text_area_tag :code_to_highlight, nil, class: 'code-to-highlight'
      %td
        %pre#pretty_code.highlight-github

  %br/

  %div.container-fluid
    %br/
    %hr/
    Syntax highlighting thanks to
    = link_to 'https://github.com/jneen/rouge', 'https://github.com/jneen/rouge'
    %br/
