:javascript

  $(document).ready(function() {
    var command = 'curl "http://symbit.appspot.com/highlighter/rouge" ' +
                  '--data "text=var foo = function() {\\n    console.log(\"Hello\");\\n};\\n' +
                  '&language=javascript"';

    console.log('--> command: ', command);
    $('#curl_example').text(command);
  });

  function rouge_request() {
    var select_list = document.getElementById('language');
    var lang = language.options[language.selectedIndex].value;

    var raw_code = $('#code_to_highlight').val();
    var rouge_url = "#{rouge_highlighter_index_path}";

    $.ajax({
      method: 'POST',
      url: rouge_url,
      data: { text: raw_code, language: lang }
    })
    .done(function(response) {
      //console.log('--> response: ', response);
      $('#pretty_code').html(response.highlighted_text);
      $('#pretty_markup').text(response.highlighted_text);
      $('#hidden_markup_row').css('display', 'inline');
    })
    .fail(function() {
      alert('$.ajax() failed\nurl: ' + rouge_url);
    });
  }

= content_for :title, 'Code Syntax Highlighter'

%div.container-fluid.symbit-highlighter
  - page_title = 'Code Syntax Highlighter'
  = render partial: 'shared/header', locals: {page_title: page_title}

  %table.table
    %tr
      %td{ colspan: 2 }
        = 'Select a language:'
        = select_tag :language, options_for_language(params[:language])
        = button_tag "Make it Pretty", onclick: 'rouge_request();'
    %tr
      %td
        = text_area_tag :code_to_highlight, nil, class: 'code-to-highlight'
      %td
        %pre#pretty_code.highlight-github
    %tr
      %td{ colspan: 2 }
        %div#hidden_markup_row
          = 'Include these styles with the markup below to have your own highlighted code syntax: '
          = link_to_blank 'https://raw.githubusercontent.com/captainmarkos/symbit/master/app/assets/stylesheets/rouge_github.scss', 'https://raw.githubusercontent.com/captainmarkos/symbit/master/app/assets/stylesheets/rouge_github.scss'
          = text_area_tag :pretty_markup, nil
    %tr
      %td{ colspan: 2 }
        = 'A POST request will return the markup, see example below.'
        %br/
        = 'Use this stylesheet for the markup returned:'
        = link_to_blank 'https://raw.githubusercontent.com/captainmarkos/symbit/master/app/assets/stylesheets/rouge_github.scss', 'https://raw.githubusercontent.com/captainmarkos/symbit/master/app/assets/stylesheets/rouge_github.scss'
        %pre#curl_example

  %div.container-fluid
    Syntax highlighting thanks to
    = link_to 'https://github.com/jneen/rouge', 'https://github.com/jneen/rouge'

  - github_link = 'https://github.com/captainmarkos/symbit'
  = render partial: 'shared/footer', locals: {github_link: github_link}
